/* Flex */
.intermedia ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 600px;
  grid-gap: 30px;
}
.intermedia li {
  /*  coloca aquí tu código  */
}
/* Grid */
@media screen and (min-width: 600px) {
.area-central-texto {
  display: grid;
  grid-template-rows: 1rem  100px;
  grid-template-columns: 1fr 1fr 2fr 1fr ;
  grid-template-areas:
      "header  nav     nav   nav"
      "header  main   main   aside "
      "header  main   main   aside"
      "header  main   main   .    "
      "footer footer footer footer";  
}
.area-central-texto p {
  padding-top: 0;
  column-count:2;
  column-gap: 2em;
  position: absolute;
  width:700px;
  padding-left: 1px;
}
}
@media screen and (min-width: 800px) {
  .sitio {
    max-width: none;
    display: grid;
    grid-template-rows: 30rem auto 11px;
    grid-template-columns: 2fr 1fr 3fr 2fr ;
    grid-template-areas:
        "header  nav     nav   nav"
        "header  main   main   main "
        "header  main   main   main"
        "header  main   main   main"
        "header  aside   aside   aside" 
        "header  aside   aside   aside"
        "footer footer footer footer";  
  }
  .encabezado {
    grid-area:header;
  }
  .imagen {
    grid-area:nav ;
  }
  .principal {
    grid-area:main  ;
  }
  .lateral {
    grid-area: aside ;
  }
  .pie-de-pagina {
    grid-area:footer;
}

@media screen and (min-width: 1040px) {
.sitio {
   max-width: none;
  display: grid;
  grid-template-rows: 40rem auto 12px;
  grid-template-columns: 2fr 2fr 3fr 2fr ;
  grid-template-areas:
      "header  nav     nav   nav"
      "header  main   main   aside "
      "header  main   main   aside"
      "header  main   main   .    "
      "footer footer footer footer";  
}
}
.imagen {
  grid-area:nav ;
}
.lateral {
  grid-area: aside ;
}
.pie-de-pagina {
  grid-area:footer;
}
}

/*  */
body {
margin: 0;
font-family: sans-serif;
font-size: 18px;
line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
clear: both;
}
p {
margin-bottom: 1.5em;
text-align: justify;
}
figure {
margin: 0;
padding: 0;
}
h1, h2, h3 {
text-align: center;
margin: 0;
padding: 1em 0;
}
p {
margin: 0;
padding: 1em 0;
}
img {
display: block;
border: 0;
width: 100%;
height: auto;
}
.logo, .site-title {
text-align: center;
}
.logo {
font-size: 8em;
}
.site-title {
margin-top: -1em;
margin-bottom: 3em;
}

.area-central {
background: #FFF6E5;
padding-bottom: 2em;
}
.area-central-contenido {
padding: 1.5em;
}
.intermedia {
padding: 2em 1em 1em;
background: #3E454C;
}
.intermedia ul {
margin: 0;
padding: 0;
}
.intermedia li {
margin-bottom: 1em;
background: white;
list-style-type: none;
}
.area-intermedia {
padding: 1.5em;
}
.inferior {
padding: 2em;
background: #FFF6E5;
}
.contenido-inferior {
padding: 1.5em;
}
.lateral {
background: hsl(0, 0%, 90%);
}
.barra-lateral {
padding: 2em;
background: #B5AA9D;
color: white;
}
.barra-lateral:last-of-type {
background: #B9B7A7;
}
.pie-de-pagina {
padding: 2em;
background: #7C90A0;
color: white;
text-align: center;
}
.pie-de-pagina a {
color: white;
}
.pie-de-pagina a:hover, .pie-de-pagina a:focus {
border-bottom: 1px solid white;
}